<h2>About</h2>


<youtube-video video-id="controller.theBestVideo"></youtube-video>

<br />
<br />


<button ng-click="controller.subs()">Subscriptions</button>

<br />
<br />

<form ng-submit="controller.Search(searchCriteria)">
    <label>Search Video: <input type="text" ng-model="searchCriteria" /></label>
    <input type="submit" value="Submit" />
</form>





<br /><br />


<form ng-submit="controller.Post(tweet)">
    <label>Post Twitter: <input ng-model="tweet" type="text" /></label>
    <input type="submit" value="Submit Post" />
</form>



<br /><br />

<div>
    <div ng-click="controller.ChangeVideo($index)" ng-repeat="vid in controller.searchVideo.items">{{vid.snippet.title}} <br /> <img src="{{vid.snippet.thumbnails.default.url}}" /></div>     <!--vid.id.videoId to access video id-->
</div>
<br />
<button ng-click="controller.nextPage(controller.searchVideo.nextPageToken)">Next Page</button>
<button ng-click="controller.previousPage(controller.searchVideo.prevPageToken)">Previous Page</button>


<br /><br />

<div>
    <div ng-click="controller.ChooseSubscription($index)" ng-repeat="sub in controller.subscriptionCriteria.items">{{sub.snippet.title}} <br /> <img src="{{sub.snippet.thumbnails.default.url}}" /></div>
</div>
<button ng-click="controller.nextPageSub(controller.subscriptionCriteria.nextPageToken)">Next Page</button>
<button ng-click="controller.previousPageSub(controller.subscriptionCriteria.prevPageToken)">Previous Page</button>


<br /><br />

<div>
    <div ng-click="controller.ChangeSubVid($index)" ng-repeat="play in controller.playlist.items"> {{play.snippet.title}} <br /> <img src="{{play.snippet.thumbnails.default.url}}" /> </div>
</div>
<button ng-click="controller.nextPageSubVid(controller.playlist.nextPageToken)">Next Page</button>
<button ng-click="controller.previousPageSubVid(controller.playlist.prevPageToken)">Previous Page</button>