<div class="home">

    <div class="flex-row f-jc-sb">


        <div id="youtube">

        </div>

        <div id="twitter">
            <form class="twitterpopulate" ng-submit="controller.getTweets()" ng-hide="!account.isLoggedIn()">
                <input type="submit" value="Populate" />
            </form>
            <div class="tweet" ng-repeat="t in controller.tweets">
                <div class="flex-row">
                    <img class="tweetprofileimage" ng-src="{{t.tweetDTO.user.profile_image_url}}" />
                    <p class="tweetname">{{t.tweetDTO.user.name}}</p>
                </div>
                <p class="tweettext">{{t.tweetDTO.text}}</p>
            </div>
        </div>

        <div id="spotify">

        </div>
    </div>
</div>
