<div id="searcharea">
    <div class="searchChoices">
        <select ng-model="search">
            <option selected disabled hidden style='display: none' value=''>Select</option>
            <option value="Aggregation">Aggregation</option>
            <option value="Video">Video</option>
        </select>
    </div>

    <div class="searchbar" ng-show="search=='Aggregation'">
        <input class="searchinput" placeholder="Search" /><button class="searchbutton">></button>
    </div>

    <div class="searchbar" ng-show="search=='Video'">
        <form ng-submit="controller.Search(searchCriteria)">
            <input class="searchinput" placeholder="Video" type="text" ng-model="searchCriteria" /><button class="searchbutton" type="submit">></button>
        </form>
    </div>
</div>

<nav class="flex-col f-jc-sb">
    <div>
        <div class="navbox twitter-icon">
            <a onclick="OpenWindow()"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
        </div>
        <div class="navbox twitch-icon">
            <i class="fa fa-twitch fa-4x" aria-hidden="true"></i>
        </div>
        <div class="navbox youtube-icon fa-4x">
            <i ng-click="controller.showModal()" class="fa fa-youtube-square" aria-hidden="true"></i>

        </div>
        <div class="navbox spotify-icon">
            <i class="fa fa-spotify fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="navbox cog-icon">
            <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</nav>
<div class="home">


    <div class="flex-row f-jc-sb">

        <div id="videofeed">
            <div id="youtubeplayer">
                <youtube-video video-id="controller.theBestVideo"></youtube-video>
            </div>
        </div>


        <div id="youtube" class="overflow scroll">
            <div id="youtubeSearchResults" class="flex-row">
                <div id="">
                    <div ng-click="controller.ChangeVideo($index)" ng-repeat="vid in controller.searchVideo.items">{{vid.snippet.title}} <br /> <img src="{{vid.snippet.thumbnails.default.url}}" /></div>     <!--vid.id.videoId to access video id-->
                    <div ng-show="controller.hideVideo">
                        <button ng-click="controller.previousPage(controller.searchVideo.prevPageToken)">Previous Page</button>
                        <button ng-click="controller.nextPage(controller.searchVideo.nextPageToken)">Next Page</button>
                    </div>
                </div>
                <br />

                <div id="subscriptions">
                    <div id="subscriptionsList">
                        <div class="overflow scroll">
                            <button  ng-click="controller.subs()">Subscriptions</button>
                            <div ng-click="controller.ChooseSubscription($index)" ng-repeat="sub in controller.subscriptionCriteria.items">
                                <div class="flex-row youtube-sublist">
                                    <img class="youtube-subimage"src="{{sub.snippet.thumbnails.default.url}}" />
                                    <br />
                                    <div class="youtube-subtitle">
                                    {{sub.snippet.title}}
                                    </div>
                                </div>
                            </div>
                            <div ng-show="controller.hideSubscriptions">
                                <button ng-click="controller.previousPageSub(controller.subscriptionCriteria.prevPageToken)">Previous Page</button>
                                <button ng-click="controller.nextPageSub(controller.subscriptionCriteria.nextPageToken)">Next Page</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="subscriptionPlaylist" ng-show="controller.hidePlaylist">
                    <div id="">
                        <div ng-click="controller.ChangeSubVid($index)" ng-repeat="play in controller.playlist.items"> {{play.snippet.title}} <br /> <img src="{{play.snippet.thumbnails.default.url}}" /> </div>
                        <div ng-show="controller.hidePlaylist">
                            <button ng-click="controller.previousPageSubVid(controller.playlist.prevPageToken)">Previous Page</button>
                            <button ng-click="controller.nextPageSubVid(controller.playlist.nextPageToken)">Next Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-col">

            <div id="twitter" class="flex-col">
                <form ng-submit="controller.getTweets()" ng-hide="!account.isLoggedIn()">
                    <input type="submit" value="Populate" />
                </form>
                <div class="twitterpopulate overflow scroll">
                    <div class="tweet" ng-repeat="t in controller.tweets">
                        <div class="flex-row">
                            <img class="tweetprofileimage" ng-src="{{t.tweetDTO.user.profile_image_url}}" />
                            <p class="tweetname">{{t.tweetDTO.user.name}}<br />{{t.tweetDTO.created_at | date}}</p>
                        </div>
                        <p class="tweettext">{{t.tweetDTO.text}}</p>
                    </div>
                </div>

            </div>
            <div class="twitterpost flex-col" ng-hide="!account.isLoggedIn()">
                <form ng-submit="controller.Post(tweet)">
                    <label>Post Twitter: <input ng-model="tweet" type="text" /></label>
                    <input type="submit" value="Submit Post" />
                </form>
            </div>
        </div>
    </div>
</div>

